build
include/anyrpc
include/cryptopp
lib
share
bin
obj
.vs
_build/vs2015/.vs
**/*.copied
**/*.db
**/*.ipch
**/*.log
**/*.opendb
**/*.opensdf
**/*.sdf
**/*.suo
**/*.tlog
**/*.user
.vscode/c_cpp_properties.json
doxygen.log
doc/sne
